body {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  margin: 0;
  font-weight: normal;
  color: #222; 
}
a {
  text-decoration: none;
  color: #222;
}
ul {
  list-style: none;
  padding: 0; margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
/* 레이아웃 */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section article {
  border: 1px solid red;
  width: 980px;
  height: 500px;
}
.heading {
  border: 1px solid #000;
  height: 100px;
}
.content {
}
.content div {
  border: 1px solid blue;
  height: 400px;
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.accordion {}
.image {}


