body {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  margin: 0;
  line-height: 1.5em;
  font-weight: normal;
  color: #333;
  /* background-image: url(../images/snow-photo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; */
  background: url(../images/snow-photo.jpg) no-repeat center center fixed;
}
body::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.534);
  height: 100%; width: 100%;
  top: 0; left: 0;
  z-index: -1;
}
a {
  text-decoration: none;
  color: #333;
}
.search {
  /* border: 1px solid #fff; */
  text-align: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.search h1 {
  color: #fff;  
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 36px;
}
.search input {
  
}
.search input[type=text],
.search input[type=submit] {
  padding: 20px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.search input[type=text] {
  width: 350px;
  margin-right: -6px;
  border-radius: 40px 0 0 40px;
  padding-left: 40px;
}
.search input[type=submit] {
  width: 150px;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  background-color: orange;
  color: #fff;
  transition: .5s;
}
.search input[type=submit]:hover {
  background: darkgoldenrod;
}
.search input[type=text]::placeholder {
  font-style: italic;
  font-size: 20px;
  transition: .5s;
}
.search input[type=text]:focus::placeholder {
 opacity: 0;
}