body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  background-color: #333;
}

h3 { color: #fff;}
.loading1 { text-align: center;}
.loading1 span { display: inline-block; width: 20px; height: 20px; border-radius: 50%; background-color: gray; animation: loading1 1s linear infinite;}
.loading1 span:nth-of-type(1) { animation-delay: 0s; background-color: crimson;}
.loading1 span:nth-of-type(2) { animation-delay: 0.2s; background-color: dodgerblue;}
.loading1 span:nth-of-type(3) { animation-delay: 0.4s; background-color: royalblue;}

@keyframes loading1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

#loading2 h3 {text-align: center;}
.loading2 { position: relative; /* border: 1px solid red; */ width: 30px; height: 30px;margin: auto; }
.loading2 span { position: absolute; width: 10px; height: 10px; background-color: gray; animation: loading2 1.5s infinite;}
.loading2 span:nth-of-type(1) { background-color: crimson;}
.loading2 span:nth-of-type(2) {
  animation-delay: .8s;
}

@keyframes loading2 {
  0% {
    top: 0;
    left: 0;    
  }
  25% {
    top: 0;
    left: calc(100% - 10px);
    background-color: dodgerblue;
  }
  50% {
    top: calc(100% - 10px);
    left: calc(100% - 10px);
    background-color: orange;
  }
  75% {
    top: calc(100% - 10px);
    left: 0;
    background-color: yellowgreen;
  }
  100% {
    top: 0;
    left: 0;
  }
}

#border1 {overflow: hidden; width: 1400px; margin: 0 auto;}
#border1 h3 {text-align: center;}
.border1 {width: 400px; height: 400px; position: relative; margin: auto; float: left; margin: 30px;}
.border1 span { position: absolute; width: inherit; height: inherit; border: 1px solid #fff; border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
transition: .5s;}
.border1:hover span {
  border: none;
}
.border1:nth-of-type(1):hover span {
  background-color: crimson;
}
.border1:nth-of-type(2):hover span {
  background-color: dodgerblue;
}
.border1:nth-of-type(3):hover span {
  background-color: yellowgreen;
}
.border1 span:nth-child(1) {
  animation: circle 6s linear infinite;
  
}
.border1 span:nth-child(2) {
  animation: circle 4s linear infinite;
  animation-direction: reverse;
 
}
.border1 span:nth-child(3) {
  animation: circle 5s linear infinite;
  
}
.border1:hover span:nth-child(1) {
  opacity: 0.3;
}
.border1:hover span:nth-child(2) {
  opacity: 0.5;
}
.border1:hover span:nth-child(3) {
  opacity: 0.8;
}
.border1 .cont {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.border1 .cont a {
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
  border: 1px solid #fff;
  padding: 10px;
}
  
  
  @keyframes circle {
  0% { 
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}