body {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  line-height: 1.5em;
  margin: 0;
}
a { text-decoration: none; }
ul { list-style: none;}


.gallery {
  padding: 0; margin: 0;
  display: flex;
  height: 100vh;
}
.gallery li {
  border-right: 5px solid #000;
  flex:1;
  cursor: pointer;
  transition: .5s;
  position: relative;
  overflow: hidden;
}
.gallery li:last-child { border-right: none;}
.gallery li:nth-child(1) {
  background: url(../images/artistic-image-01.jpg) no-repeat center center;
}
.gallery li:nth-child(2) {
  background: url(../images/artistic-image-02.jpg) no-repeat center center;
}
.gallery li:nth-child(3) {
  background: url(../images/artistic-image-03.jpg) no-repeat center center;
}
.gallery li:nth-child(4) {
  background: url(../images/artistic-image-04.jpg) no-repeat center center;
}
.gallery li:nth-child(5) {
  background: url(../images/artistic-image-05.jpg) no-repeat center center;
}
.gallery:hover li { flex: 1; }
.gallery li:hover { 
  flex: 3; 
  filter: grayscale(1);   /* edge, ie에서는 작동안함*/
}
.gallery li .content {
  position: absolute;
  height: 250px; width: 100%;
  left: 0; bottom: -320px;
  background-color: #000;
  color: #fff;
  text-align: center;
  transition: .5s;
  padding: 20px;
  padding-top: 50px;
  box-sizing: border-box;
}
.gallery li:hover .content {
  bottom: 0;
  transition-delay: .5s;
}
.gallery li .content h2 {

}
.gallery li .content p {
  
}
.gallery li .content .sns { margin: 20px 0; }
.gallery li .content .sns a { color: rgba(255, 255, 255, 0.288); font-size: 24px; margin: 3px; }
.gallery li .content::before {
  content: '';
  position: absolute;
  background-color: #000;
  width: 100%; height: 80px;
  left: 0; top: -5px;
  transform-origin: left bottom;
  transform: rotate(-5deg) scale(1.3);
}